{% extends 'base.html.twig' %}

{% block title %}Externatic || S'enregistrer
{% endblock %}

{% block stylesheets %}
	{{ parent()}}
	{{ encore_entry_link_tags('register') }}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="page row">

			<div class="d-none col-md-4 bg-secondary d-md-flex align-items-center">
				<img src="{{ asset('build/images/register.png') }}" class="image img-fluid" alt="login">
			</div>


			<div class="col-md-8 col-12 d-flex align-items-center justify-content-center align-items-md-center justify-content-md-center bg-primary">
				<div>
					<h1 class="fw-bold text-uppercase d-flex text-light">Externatic,
						<br>L'entreprise qui répond à vos besoins !</h1>
					<h2 class="fw-bold text-uppercase d-flex mb-2 h4 mt-5 text-light">S'enregistrer</h2>

					<div class="register">
						{{ form_start(registrationForm) }}
					</div>
					<div class="mail mb-4">
						<label class="form-label fw-bold text-light text-uppercase h5">Email</label>
						<div class="input-group w-75 w-md-50">
							<span class="input-group-text bg-secondary">
								{% include 'icons/email.svg' %}
							</span>
							{{ form_widget(registrationForm.email) }}
						</div>
					</div>
					<div class="password mb-4">
						<label class="form-label fw-bold text-light text-uppercase h5">Mot de passe</label>
						<div class="input-group w-75 w-md-50">

							<span class="input-group-text bg-secondary">
								{% include 'icons/password1.svg' %}
							</span>
							{{ form_widget(registrationForm.plainPassword) }}
						</div>

					</div>
					<div class="firstname mb-4">
						<label class="form-label fw-bold text-light text-uppercase h5">Prénom</label>
						<div class="input-group w-75 w-md-50">
							<span class="input-group-text bg-secondary">
								{% include 'icons/identifiant1.svg' %}
							</span>
							{{ form_widget(registrationForm.firstname) }}
						</div>

					</div>
					<div class="lastname mb-3">
						<label class="form-label fw-bold text-light text-uppercase h5">Nom</label>
						<div class="input-group w-75 w-md-50">
							<span class="input-group-text bg-secondary">
								{% include 'icons/identifiant1.svg' %}
							</span>
							{{ form_widget(registrationForm.lastname) }}
						</div>

					</div>

					<button type="submit" class="w-50 mt-4 btn btn-secondary fw-bold text-uppercase">Enregistrer</button>
					{{ form_end(registrationForm) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
