{% extends 'base-admin.html.twig' %}

{% block title %}Admin || Offres d'emplois
{% endblock %}

{% block body %}
	<section class="container">
		<h1 class="text-primary fw-bold text-uppercase d-flex my-5">Liste des offres d'emploi</h1>
		<table class="table">
			<thead>
				<tr>
					<th class="text-dark fw-bold text-uppercase fs-5 mx-md-5 mx-0 my-5">Date d'ajout</th>
					<th class="text-dark fw-bold text-uppercase fs-5 mx-md-5 mx-0 my-5">Poste</th>
					<th class="text-dark fw-bold text-uppercase fs-5 mx-md-5 mx-0 my-5">Ville</th>
					<th class="text-dark fw-bold text-uppercase fs-5 mx-md-5 mx-0 my-5">Contrat</th>
				</tr>
			</thead>
			<tbody>
				{% for jobOffer in jobOffers %}
					<tr>
						<td class="fs-5 fw-medium">{{ jobOffer.createdAt ? jobOffer.createdAt|date('Y-m-d') : '' }}</td>
						<td class="fs-5 fw-medium">{{ jobOffer.job }}</td>
						<td class="fs-5 fw-medium">{{ jobOffer.city }}</td>
						<td class="fs-5 fw-medium">{{ jobOffer.contract }}</td>
						<td class="fs-5 fw-medium">{{ jobOffer.latitude }}</td>
						<td class="fs-5 fw-medium">{{ jobOffer.longitude }}</td>
						<td class="fs-5 fw-medium">{{ jobOffer.phone }}</td>


						<td>
							<a href="{{ path('admin_jobOffer_show', {'id': jobOffer.id}) }}">
								{% include 'icons/view.svg' %}</td>
						</td>
						<td>
							<a href="{{ path('admin_jobOffer_edit', {'id': jobOffer.id}) }}">
								{% include 'icons/edit.svg' %}</td>
						</td>
					</tr>
				</a>
			</tbody>
		</td>
	</tr>
{% else %}
	<tr>
		<td colspan="7">Aucun résultat trouvé</td>
	</tr>
{% endfor %}</tbody></table><a class="btn btn-secondary btn fs-5 fw-bold text-uppercase my-3 px-3 rounded" href="{{ path('admin_jobOffer_new') }}">Ajouter une nouvelle offre</a></section>{% endblock %}
