{% extends 'base-admin.html.twig' %}

{% block title %}Voir || Offres d'emplois
{% endblock %}

{% block body %}
<section class="container">
	<h1 class="text-primary fw-bold text-uppercase d-flex my-5">JobOffer</h1>

	<table class="table">
		<tbody>
			<tr>
				<th class="text-dark fw-bold text-uppercase fs-5 mx-md-5 mx-0 my-5">>Poste</th>
				<td class="fs-5 fw-medium">>{{ jobOffer.job }}</td>
			</tr>
			<tr>
				<th class="text-dark fw-bold text-uppercase fs-5 mx-md-5 mx-0 my-5">>Ville</th>
				<td class="fs-5 fw-medium">>{{ jobOffer.city }}</td>
			</tr>
			<tr>
				<th class="text-dark fw-bold text-uppercase fs-5 mx-md-5 mx-0 my-5">>Contrat</th>
				<td class="fs-5 fw-medium">>{{ jobOffer.contract }}</td>
			</tr>
			<tr>
				<th class="text-dark fw-bold text-uppercase fs-5 mx-md-5 mx-0 my-5">>Description</th>
				<td class="fs-5 fw-medium">>{{ jobOffer.description }}</td>
			</tr>
			<tr>
				<th class="text-dark fw-bold text-uppercase fs-5 mx-md-5 mx-0 my-5">>Date d'ajout</th>
				<td class="fs-5 fw-medium">>{{ jobOffer.createdAt ? jobOffer.createdAt|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th class="text-dark fw-bold text-uppercase fs-5 mx-md-5 mx-0 my-5">>Téléphone</th>
				<td class="fs-5 fw-medium">>{{ jobOffer.phone }}</td>
			</tr>
		</tbody>
	</table>

	<a class="btn btn-secondary btn fw-bold text-uppercase my-2 px-3 rounded-10" href="{{ path('admin_jobOffer_index') }}">
		{% include 'icons/door.svg'%} 
		Revenir à la liste des offres
	</a>
	{{ include('admin_jobOffer/_delete_form.html.twig') }}
{% endblock %}
