{% extends 'base-admin.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}Membres
{% endblock %}
{% block body %}
	<h1 class="fw-bold fs-2 text-center text-dark text-uppercase my-5">
		<span class="text-primary">
			les</span>
		membres</h1>
	<section class="container">
		<div class="row">
			<div class="d-flex justify-content-center">
				<div class="col-6 g-3 bg-light rounded-3 px-4 overflow-auto scrollbar">
					{% for user in users %}
						<div class="card p-2 my-3 rounded-2 shadow">
							<h2 class="user fs-4 text-center text-capitalize m-4">
								{{ user.firstname }}
								<span class="text-uppercase">{{ user.lastname }}</span>
							</h2>
							<div class="container">
								<h3 class="fs-6 mx-2"><span class="fw-bold">Identifiant :</span>
									<span class="text-lowercase">{{ user.email }}</span>
								</h3>
								<div class="d-flex">
									<h3 class="fst-italic fs-6 fw-bold mx-2">Rôle(s) :</h3>
									<ul>
									{% for role in user.roles %}
										<li>
											{{ role }}
										</li>
									{% endfor %}
									</ul>
								</div>
							</div>
							<div class="bouton d-flex justify-content-around my-2">
								<a class="btn col-5 btn-transparent text-light rounded-3 text-decoration-none" href="{{ path('admin_member_edit', {'id': user.id}) }}">
									{% include 'icons/edit.svg' %}
								</a>
							</div>
						</div>
					{% else %}
						Aucun membre trouvé.
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
