{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent()}}
	{{ encore_entry_link_tags('pageCompany') }}
{% endblock %}

{% block title %}
	{{ parent() }}
	|| Entreprise
{% endblock %}

{% block body %}
	<section class="container">
		<h1 class="text-dark fw-bold text-uppercase mt-5">
			<span class="text-secondary">Vous cherchez un expert dans l'it ?</span>
			<br>
			Faites appel au cabinet de recrutement spécialisé dans l'informatique.</h1>

		<div class="row g-5 mb-5 mt-3 d-flex justify-content-center">
			<div class="col-lg-5">
				<div class="statistics border border-5 border-secondary border-bottom-0 border-top-0 border-end-0">
					<div class="card-body">
						<div class="m-4">
							<h3 class="fw-bold text-secondary">30</h3>
							<p class="fw-medium fs-6 m-2">Collaborateurs expérimentés dans l’IT</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="statistics border border-5 border-secondary border-bottom-0 border-top-0 border-end-0">
					<div class="card-body">
						<div class="m-4">
							<h3 class="fw-bold text-secondary">+370</h3>
							<p class="fw-medium fs-6 m-2">Recrutement par an</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5 mb-md-5">
				<div class="statistics border border-5 border-secondary border-bottom-0 border-top-0 border-end-0">
					<div class="card-body">
						<div class="m-4">
							<h3 class="fw-bold text-secondary">94%</h3>
							<p class="fw-medium fs-6 m-2">De validation en période d'essai</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5 mb-5">
				<div class="statistics border border-5 border-secondary border-bottom-0 border-top-0 border-end-0">
					<div class="card-body">
						<div class="m-4">
							<h3 class="fw-bold text-secondary">+2500</h3>
							<p class="fw-medium fs-6 m-2">Candidats vus en entretien chaque année</p>
						</div>
					</div>
				</div>
			</div>
		</div>


		<h2 class="text-w fw-bold text-uppercase mt-5 mb-md-0 mb-5">Ce que l'on vous apporte</h2>

		<div class="row my-md-5 my-0 g-0 g-md-4">

			<div class="col-md-5 mb-md-5 bg-secondary">
				<h2 class="h3 text-white fw-bold my-5 fs-3 text-uppercase mx-5">Recrutement
					<br>
					informatique au succès</h2>
				<p class="text-white fs-6 mx-5 my-5">Notre cabinet de recrutement fonctionne sur un modèle au succès. Nous donnerons le meilleur
																																																																																				         de nous même pour trouver le profil correspondant à vos critères de recherche.<br>
					Pas d’engagement ni d’acompte à verser avant même de travailler ensemble.<br>
					Pas de clause d’exclusivité, soyez libre de continuer à utiliser vos outils de recrutements habituels.
				</p>
			</div>

			<div class="col-md-7 mb-md-5">
				<img src="{{ asset('build/images/recrutement.png')}}" class="w-100 h-100 mx-0 border mb-5 border-secondary">
			</div>


			<div class="col-md-7 mb-md-5">
				<img src="{{ asset('build/images/optimiser.png')}}" class="w-100 h-100 mx-0 mt-5 mt-md-0 border border-secondary">
			</div>

			<div class="col-md-5 mb-md-5 mb-5 bg-secondary">
				<h2 class="h3 text-white fw-bold mt-5 fs-3 text-uppercase mx-5">Optimisez vos
					<br>
					recrutements it</h2>
				<p class="text-white fs-6 mx-5 my-5">
					Un mauvais recrutement peut coûter cher à une entreprise !<br><br>
					Vous ne disposez pas des compétences techniques, 
																																																																											                ni du temps nécessaire pour qualifier les candidats recherchés dans votre équipe IT. En choisissant de faire 
																																																																											                appel à notre cabinet de recrutement expert en informatique, gagnez du temps pour consacrer toute votre énergie à vos activités.
				</p>
			</div>


			<div class="col-md-5 mb-md-5 bg-secondary">
				<h2 class="h3 text-white fw-bold mt-5 fs-3 text-uppercase mx-5">Accédez à un réseau de
																																																																						candidat exclusif</h2>
				<p class="text-white fs-6 mx-5 my-5">En vous faisant accompagner par notre cabinet, vous bénéficiez d’un accès privilégié à notre réseau de candidats.<br><br>
					Notre valeur ajoutée sera de vous transmettre des candidatures issues d’une base de candidats cachés.<br><br>
					Des profils souvent discrets sur les réseaux classiques de recrutement (réseaux sociaux, jobboards, CVthéque…).</p>
			</div>

			<div class="col-md-7 mb-md-5 mb-5">
				<img src="{{ asset('build/images/acceder.png')}}" class="w-100 h-100 mx-0 border border-secondary">
			</div>


			<div class="col-md-7 mb-md-5">
				<img src="{{ asset('build/images/methode.png')}}" class="w-100 h-100 mx-0 border border-secondary">
			</div>

			<div class="col-md-5 mb-md-5 mb-5 bg-secondary">
				<h2 class="h3 text-white fw-bold mt-5 fs-3 text-uppercase mx-5">La méthode Externatic, 
																																																												10 ans de recrutement IT</h2>
				<p class="text-white fs-6 mx-5 my-5">
					Notre méthode de recrutement innovante s’appuie sur une gamme d’outils variés et une connaissance du marché.
																																																		                     Nous sommes toujours en veille sur les outils de sourcing et d’approche directe pour vous apporter les meilleurs
																																																		                     talents.
																																																							Parce que notre méthode de recrutement ne s’arrête pas aux outils en ligne, notre force est aussi dans les 
																																																		                    relations humaines. Nous sommes partenaires d’événements (meetups tech, DevFest…) et d’écoles du monde de l’IT.
				</p>
			</div>


			<div class="col-md-5 mb-md-5 bg-secondary">
				<h2 class="h3 text-white fw-bold mt-5 fs-3 text-uppercase mx-5">Comment fonctionne notre cabinet ?</h2>

				<p class="text-white fs-6 mx-5  my-5">Pour vous accompagner au mieux dans vos recrutements, nous avons mis en place
																																													                un processus en 5 étapes clés :<br>
					1. Premier échange pour avoir un maximum d’informations sur votre entreprise, son fonctionnement, son activité, ses valeurs…<br>
					2. Recueil et analyse de votre besoin en recrutement. Profil idéal : formation, expérience, salaire, soft skills, hard skills, mad skills,
																																													 compétences techniques…<br>
					3. Activation de notre méthode Externatic pour vous trouver les meilleurs profils IT correspondant à vos critères.<br></p>
			</div>

			<div class="col-md-7 mb-md-5 mb-5">
				<img src="{{ asset('build/images/fonctionnement.png')}}" class="w-100 h-100 mx-0 border border-secondary">
			</div>
		</div>

		<h2 class="text-w fw-bold text-uppercase mt-5">Nos ressources sont humains</h2>

		<p class="text-black fs-5 fw-bold my-5">Nos consultants experts et passionnés du monde de la tech conaissent et comprennent les candidats<br>
			<span class="text-secondary">comme aucun algorithme ne peut le faire</span>
		</p>

		<h2 class="text-w fw-bold text-uppercase mt-5">FAQ</h2>

		<div class="d-flex justify-content-center mb-5">
			<div class="row">
				<div class="col-md-8 col-12 my-md-5 my-0">
					<div class="accordion mt-5" id="accordionPanelsStayOpenExample">
						<div class="accordion-item bg-transparent">
							<h2 class="accordion-header">
								<button class="accordion-button bg-secondary text-light text-decoration-none fs-5 fw-bold text-start" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
									Quel est votre mode de fonctionnement ?
								</button>
							</h2>
							<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
								<div class="accordion-body m-4 p-4 bg-transparent border border-dark rounded-2 ">
									Tout d’abord, nous sommes très investis dans l’écosystème numérique local. Nous participons à beaucoup 
																																d’événements en tant que sponsors (Meetup, DevFest, Web2day, PHP Tour…) pour aller directement à 
																																la rencontre des candidats.La plupart de nos recrutements sont également issus de notre vivier de candidats, 
																																de notre réseau et de la cooptation.Nous sommes aussi en partenariat avec les écoles et nous intervenons sous 
																																différentes formes pour conseiller les étudiants et les préparer à entrer sur le marché de l’emploi.Bien entendu 
																																nous mettons également en place des outils de recrutement par le biais de jobboards généralistes et spécialisés 
																																ainsi que sur nos réseaux sociaux.Enfin, si nous ne parvenons pas à vous trouver la perle rare, nous mettons en
																																 place différentes techniques d’approches directes pour cibler notre recherche.
								</div>
							</div>
						</div>
						<div class="accordion-item bg-transparent">
							<h2 class="accordion-header">
								<button class="accordion-button bg-secondary text-light text-decoration-none fs-5 fw-bold text-start" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
									Comment trouvez-vous les candidats ?
								</button>
							</h2>
							<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
								<div class="accordion-body m-4 p-4 bg-transparent border border-dark rounded-2 ">
									Un de nos consultants va recevoir directement votre candidature pour qu’elle soit étudiée. Si votre profil correspond à un poste ouvert chez nous, nous revenons vers vous dès que possible pour que vous puissiez nous parler de vos expériences et de votre projet professionnel. Si vous n’avez aucune réponse de notre part au-delà de 15 jours, c’est qu’aucun poste ne semble correspondre à votre profil. Mais tout n’est pas perdu !! Il nous arrive souvent de recontacter nos candidats plusieurs semaines après un premier contact.
								</div>
							</div>
						</div>
						<div class="accordion-item bg-transparent">
							<h2 class="accordion-header">
								<button class="accordion-button bg-secondary text-light text-decoration-none fs-5 fw-bold text-start" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
									Comment se déroule l’accompagnement d’Externatic ?
								</button>
							</h2>
							<div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
								<div class="accordion-body m-4 p-4 bg-transparent border border-dark rounded-2 ">
								Externatic vous accompagne de A à Z avec son suivi accompagnement du personnel, des consultants ... Nous vous suivons du départ du processus de votre recrutement, dès l'inscription chez nous,
								jusqu'à la signature de votre contrat. Effectivement, si votre mission se finit, vous pouvez directement nous recontacter et c'est avec grand plaisir que nous vous accompagnerons jusqu'à votre prochain poste !
								</div>
							</div>
						</div>
						<div class="accordion-item bg-transparent">
							<h2 class="accordion-header">
								<button class="accordion-button bg-secondary text-light text-decoration-none fs-5 fw-bold text-start" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
									Sur quels types de recrutements intervenez-vous ?
								</button>
							</h2>
							<div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
								<div class="accordion-body m-4 p-4 bg-transparent border border-dark rounded-2 ">
								Nous intervenons sur les recrutements de tous les métiers de la tech, informatiques en proposant toutes sortes de postes.
								</div>
							</div>
						</div>
					</div>
				</div>
			
			<div class="col-md-4 col-0">
				<img src={{ asset('build/images/FAQ.png') }} class="d-md-flex d-none justify-content-center w-100">
			</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% block footer %}
{% include 'components/_footer.html.twig' %}{% endblock %}
