{% extends 'base-admin.html.twig' %}

{% block title %}Admin || Consultant
{% endblock %}

{% block body %}
	<section class="container">
		<h1 class="text-primary fw-bold text-uppercase d-flex my-5">Les consultants</h1>

		<table class="table">
			<thead>
				<tr>
					<th class="text-dark fw-bold text-uppercase fs-5 mx-md-5 mx-0 my-5">Prénom</th>
					<th class="text-dark fw-bold text-uppercase fs-5 mx-md-5 mx-0 my-5">Nom</th>
					<th class="text-dark fw-bold text-uppercase fs-5 mx-md-5 mx-0 my-5">Secteur</th>
					<th class="text-dark fw-bold text-uppercase fs-5 mx-md-5 mx-0 my-5">Spécialisation</th>
					<th class="text-dark fw-bold text-uppercase fs-5 mx-md-5 mx-0 my-5">Linkedin</th>
				</tr>
			</thead>
			<tbody>
				{% for consultant in consultant %}
					<tr>
						<td class="fs-5 fw-medium">{{ consultant.firstname }}</td>
						<td class="fs-5 fw-medium">{{ consultant.lastname }}</td>
						<td class="fs-5 fw-medium">{{ consultant.location }}</td>
						<td class="fs-5 fw-medium">{{ consultant.specialization }}</td>
						<td class="fs-5 fw-medium">{{ consultant.linkedin }}</td>
                        {% if is_granted('ROLE_ADMIN') %}
						<td>
							<a href="{{ path('app_consultant_edit', {'id': consultant.id}) }}">
								{% include 'icons/edit.svg' %}
							</a>
						</td>
                        {% endif %}
					</tr>
				{% else %}
					<tr>
						<td colspan="7">Pas de consultant trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if is_granted('ROLE_ADMIN') %}
			<a class="btn btn-secondary btn fs-5 fw-bold text-uppercase my-3 px-3 rounded" href="{{ path('app_consultant_new') }}">
				Ajouter un nouveau consultant</a>
		{% endif %}
	</section>
{% endblock %}
