{% extends 'base-admin.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('adminConsultant') }}
{% endblock %}

{% block title %}Offres d'emploi
{% endblock %}
{% block body %}
	<h1 class="fw-bold text-dark text-uppercase my-5">
		<span class="text-primary">
			les</span>
		offres d’emploi</h1>
	<h2 class="text-light text-uppercase fw-bold text-center bg-primary m-5 p-5">Trier les offres d'emplois</h2>
	<section class="container">

		<div class="d-flex">
			<div class="col-4 g-3 overflow-auto scrollbar">

				{% for jobOffer in jobOffers %}
					<div class="col m-3">
						<div class="card rounded-0 bg-light shadow">
							<div class="card-body p-2">

								<h2 class="jobOffer fs-4 fw-bold text-dark text-center text-uppercase mb-4 mt-3">
									{{ jobOffer.job }}
								</h2>
								<div class="container mx-2">
									<h3 class="fw-bold fs-6 text-dark text-uppercase mx-2">
										{{ jobOffer.entreprise }}
									</h3>
									<div class="d-flex">
										{% include 'icons/contract.svg' %}
										<h3 class="fw-bold fs-6 text-dark ">{{ jobOffer.contract }}</h3>
									</div>
									<div class="d-flex">
										{% include 'icons/location.svg' %}
										<h3 class="fst-italic fs-6 fw-bold text-dark">
											{{ jobOffer.city }}</h3>
									</div>
								</div>
								<h5 class="fw-bold fs-6 text-dark opacity-50 text-end mb-4 mx-3">
									{% set now = "now"|date("Y-m-d") %}
									{% set nombersDays = ((date("now")|date('U') - jobOffer.createdAt|date('U'))) / (3600 * 24) %}
									Publié il y a
									{{ nombersDays|round }}
									jours
								</h5>
								<div class="container">
									<a type="button" class="btn col-12 col-btn-sm btn-transparent border-dark text-dark text-decoration-none fw-bold" href="{{ path("admin_consultant_show", { id: jobOffer.id }) }}">VOIR +</a>
									<div class="bouton d-flex justify-content-between">
										<a type="button" class="btn col-3 col-btn-sm btn-transparent border-dark my-3 text-dark text-decoration-none fw-bold">
											{% include 'icons/people.svg' %}
											20</a>
										<a type="button" class="btn col-8 col-btn-sm btn-transparent border-dark my-3 text-dark text-decoration-none fw-bold" href="{{ path("jobOffer_index", { id: jobOffer.id}) }}">PROFILS INTÉRESSÉS
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% else %}
					Aucune offre trouvée.
				{% endfor %}
			</div>
			<div class="col-8 bg-white mx-5 p-3">
				<h2 class="jobOffer fs-4 fw-bold text-dark text-center text-uppercase mb-4 mt-3">
					{{ jobOffer.job }}
				</h2>
				<div class="container mx-4">
					<h3 class="fw-bold fs-6 text-dark text-uppercase mx-2">
						{{ jobOffer.entreprise }}
					</h3>
					<div class="d-flex">
						{% include 'icons/contract.svg' %}
						<h3 class="fw-bold fs-6 text-dark ">{{ jobOffer.contract }}</h3>
					</div>
					<div class="d-flex">
						{% include 'icons/location.svg' %}
						<h3 class="fst-italic fs-6 fw-bold text-dark">
							{{ jobOffer.city }}</h3>
					</div>
				</div>
				<h5 class="fw-bold fs-6 text-primary opacity-75 text-end mb-4 mx-3">
					{% set now = "now"|date("Y-m-d") %}
					{% set nombersDays = ((date("now")|date('U') - jobOffer.createdAt|date('U'))) / (3600 * 24) %}
					Publié il y a
					{{ nombersDays|round }}
					jours
				</h5>
				<p class="fs-6 fw-medium text-dark m-4">
					{{ jobOffer.description }}
				</p>

			</div>
		</div>
	</section>
{% endblock %}
