{{ form_start(form) }}
    {{ form_widget(form) }}
    <img src="{{ vich_uploader_asset(company) }}" alt="">
    <button class="btn btn-primary btn fw-bold text-uppercase  mx-2 my-5 rounded-0">
    {% include 'icons/save.svg' %}{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
