{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('jobOffer') }}
{% endblock %}

{% block title %}Job Offer
{% endblock %}
{% block body %}
	<section class="container p-5 mt-4">
		<h1 class="fw-bold text-dark text-uppercase my-5">Avec
			<span class="text-primary">
				externatic</span>, trouver l’emploi qui vous correspond !</h1>
		<h2 class="mb-4 text-dark">Trier les offres d'emplois</h2>

		<div class="row g-5">
			{% for jobOffer in jobOffers %}
				<div class="col-lg-6 col-sm-12">
					<div class="card bg-light bg-opacity-25 border-primary shadow">
						<div class="card-body">
							<h3 class="fw-bold text-center text-primary text-uppercase">
								{{ jobOffer.job }}
							</h3>
							<div class="container p-block-5">
								<div class="m-3 d-flex justify-content-between text-primary">
									<h5 class="fw-bold">{{ jobOffer.contract }}</h5>
									<h5 class="fst-italic">{{ jobOffer.city }}</h5>
								</div>
								<p class="d-block fw-medium mb-5">{{ jobOffer.description }}</p>
							</div>
							<div class="image position-relative">
								<button type="button" class="btn col-btn-sm btn-primary position-absolute top-0 start-50 translate-middle d-grid col-8 mx-auto">
									<a class="text-light text-decoration-none fs-3 fw-bold" href="{{ path("joboffer_index", { id: jobOffer.id}) }}">INTÉRESSÉ !</a>
								</button>
								<img src={{ asset('build/images/jobOffercardfooter.jpg') }} class="d-flex justify-content-center object-fit-cover rounded w-100">
							</div>
						</div>
					</div>
				</div>
			{% else %}
				Aucune offre trouvée.
			{% endfor %}
		</div>
	</section>
{% endblock %}
