{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
	{{ encore_entry_link_tags('jobOffer') }}
{% endblock %}

{% block title %}
	{{ parent() }}
	|| Offres d'emploi
{% endblock %}
{% block body %}
	<section class="container" {{ stimulus_controller('map') }}>
		<h1 class="fw-bold text-dark text-uppercase my-5">Avec
			<span class="text-primary">
				externatic</span>,<br>
			trouvez l’emploi qui vous correspond !</h1>
		<h2 class="mb-4 text-dark">Trier les offres d'emplois</h2>

		<div class="jobOfferForm">
			{{ form_start(form) }}
			{{ form_widget(form, {'attr' : {'class' : 'd-flex flex-md-row flex-column'}}) }}
			<button class="search btn btn-secondary border border-primary text-uppercase fw-bold">RECHERCHER</button>
			{{ form_end(form) }}
		</div>
		<div id="map" class="map mb-5 border border-primary"></div>


		<div class="row g-5 mb-5">
			{% for jobOffer in jobOffers %}
					{% include '/components/jobOffer-card.html.twig' %}
			{% else %}
				Aucune offre trouvée.
			{% endfor %}
			
		</div>

	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
{% endblock %}
