{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('jobOffer') }}
{% endblock %}

{% block title %}
	{{ parent() }}
	|| Détails de l'offre
{% endblock %}

{% block body %}
	<section class="container">
		<h1 class="text-black fw-bold text-uppercase d-flex my-5">
			<span class="text-primary">Détails&nbsp</span>de l'offre</h1>

<div class="row">
		<h2 class="text-black fw-bold text-uppercase d-flex mt-5 mb-3">Renseignements sur l'offre de :
		</div>
			<span class="h2 text-primary fw-bold text-uppercase d-flex mb-5">
				{{ jobOffer.job }}
			</span>
		</h2>
		
		<p class="fw-bold fs-4 mt-4 mb-5 text-uppercase">
			Ajoutée le
			<span class="text-secondary">
				{{ jobOffer.createdAt|date('d/m/Y') }}
			</span>
		</p>
		<p class="fw-bold fs-4">
			Ville :
			<span class="text-primary">
				{{ jobOffer.city }}
			</span>
		</p>
		<p class="fw-bold fs-4">
			Type de contrat :
			<span class="text-primary">
				{{ jobOffer.contract }}
			</span>
		</p>
		<p class="fw-bold fs-4">
			Entreprise :
			<span class="text-primary">
				{{ jobOffer.entreprise }}
			</span>
		</p>

		<h2 class="text-black fw-bold text-uppercase d-flex mt-5">
			Profil recherché :</h2>
		<p class="mt-4 fs-4">
			{{ jobOffer.profil}}
		</p>

		<h2 class="text-black fw-bold text-uppercase d-flex mt-5">
			Description de l'emploi :</h2>
		<p class="mt-4 mb-5 fs-4">
			{{ jobOffer.synopsis}}
		</p>

		<div class="row">
		{% if app.user %}
			<div class="col-md-8 row mx-auto">
				<a class="btn btn-primary btn d-flex justify-content-center my-5 fs-5 fw-bold text-uppercase px-3 rounded" href="">
					Postuler à cette offre</a>
			</div>
		{% endif %}
			<div class="col-md-4 row mx-auto">
				<a class="btn btn-secondary btn d-flex justify-content-center my-md-5 my-0 mb-5 fs-5 fw-bold text-uppercase px-3 rounded" href="{{ path('jobOffer_index')}}">
					Retour à la liste des offres</a>
			</div>
		</div>
	</section>
{% endblock %}
