{% extends 'base.html.twig' %}

{% block title %}Profil de l'utilisateur
{% endblock %}

{% block stylesheets %}
	{{ parent()}}
	{{ encore_entry_link_tags('profil') }}
{% endblock %}


{% block navbar %}
	{% include 'components/_navbar.html.twig'%}
{% endblock %}

{% block body %}

	<h1 class="profil mr-4 my-md-5 my-3 py-md-3 text-center">
		<span class="title text-primary fw-bold text-uppercase fs-2">Profil</span>
		<span class="text-dark fw-bolder text-uppercase fs-2">de l'utilisateur</span>
	</h1>
	<section class="container">
		<div class="cadre border border-primary bg-light rounded-3">
			<div class="d-flex justify-content-end position-relative">
				<a class="btn btn-primary fs-4 align-items text-light fw-bold text-decoration-none mx-3 mt-3 position-absolute top-0 end-0" href="{{ path('app_candidate_edit_profile', {'id': app.user.candidate.id}) }}">{{ include('icons/edit.svg') }} Modifiez vos informations</a>
			</div>
		
		<div class="d-md-flex d-block pt-md-5 pt-2">
		
			<img style="width: 250px; height: 250px;" class="img-fluid  my-3 ms-5 rounded-circle" src="{% if app.user.candidate.photo %}{{asset('uploads/images/candidate/') ~ app.user.candidate.photo}}{% else %}{{ asset('build/images/placeholder-consultant.jpeg')}}{% endif %}" alt="{{ app.user.lastname }}">
			<a class="btn btn-primary h-25 text-light d-flex justify-content-center my-3 fw-bold me-md-5 text-decoration-none" href="{{ path('app_candidate_edit_profilePic', {'id': app.user.candidate.id}) }}">{{ include('icons/camera.svg') }}</a>

			<div class="flex-column my-5 mx-md-5">
				<h2 class="title text-primary fw-bold text-uppercase fs-1 ms-md-5 mb-4 ">{{ app.user.candidate.user.lastname }}
					<span class="text-secondary text-lowercase mb-4">{{ app.user.candidate.user.firstname }}</h2>

					<h4>
						<span class="fw-bold ms-md-5">Date de naissance :</span>
						{{ app.user.candidate.birthday|date('d/m/Y') }}</h4>
					<h4>
						<span class="fw-bold ms-md-5">Téléphone :</span>
						{{ app.user.candidate.phone }}</h4>
					<h4>
						<span class="fw-bold ms-md-5">Adresse e-mail :</span>
						{{ app.user.candidate.user.email }}</h4>
					<h4>
						<span class="fw-bold ms-md-5">Adresse :</span>
						{{ app.user.candidate.address }}

					</h4>
				</div>
			</div>
		</div>

			<h3 class="fs-md-6 h2 mt-5 fw-bold pt-5 d-flex justify-content-center">Expériences
				<button class="btn btn-primary mx-4">
					<a class="text-light fw-bold text-decoration-none" href="{{ path('app_candidate_add_experience', {'id': app.user.candidate.id}) }}">Ajouter une expérience</a>
				</button>
			</h3>
			{% for experience in app.user.candidate.experience %}
				<h4 class="mt-5 border-top border-secondary pt-5">
					<span class="text-primary">{{ experience.jobTitle }}</span>
					-
					<span class="text-secondary">{{ experience.company }}</span>
				</h4>
				<h5 class="h6 d-flex justify-content-end fw-bold fst-italic">Du
					{{ experience.start|date('d/m/Y') }}
					au
					{{ experience.end|date('d/m/Y') }}
				</h5>

				<h5 class="h6 d-flex my-5 justify-content-center">
					{{ experience.description }}
				</h5>
				<div class="mb-5">
					{% include 'experience/_delete_form.html.twig' %}
				{% endfor %}
				<h3 class="fs-md-6 h2 mt-5 fw-bold mb-md-5 pt-5 border-top border-secondary d-flex justify-content-center pb-md-5">Compétences
					<button class="btn btn-primary mx-4">
						<a class="text-light fw-bold text-decoration-none" href="{{ path('app_candidate_add_skill', {'id': app.user.candidate.id}) }}">Ajouter une compétence</a>
					</button>
				</h3>
				<ul class="ul">

					{% for skill in app.user.candidate.skills %}
					<div class="d-flex">
					{% include 'skill/_delete_form.html.twig' %}
						<li class="list-unstyled fw-bold text-secondary fst-italic fs-5 my-3 mx-5">{{ include('icons/arrow.svg') }}
							{{ skill.name }} 
						</li>
						</div>
					{% endfor %}
				</ul>

				<h3 class="fs-md-6 h2 mt-5 fw-bold my-5 pt-5 d-flex justify-content-center">Formations
					<button class="btn btn-primary mx-4">
						<a class="text-light fw-bold text-decoration-none" href="{{ path('app_candidate_add_formation', {'id': app.user.candidate.id}) }}">Ajouter une formation</a>
					</button>
				</h3>
				{% for formation in app.user.candidate.formations %}
					<h4 class="border-top border-secondary pt-5">
						<span class="text-primary">{{ formation.diploma }}</span>
						-
						<span class="text-secondary">{{ formation.establishment }}</span>
					</h4>
					<h5 class="h6 d-flex justify-content-end fw-bold fst-italic">Du
						{{ formation.start|date('d/m/Y') }}
						au
						{{ formation.end|date('d/m/Y') }}
					</h5>

					<h5 class="h6 d-flex justify-content-center my-5">
						{{ formation.description }}
					</h5>

					<div class="mb-5">
						{% include 'formation/_delete_form.html.twig' %}
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
{% block footer %}
	{% include "components/_footer.html.twig" %}
{% endblock %}
