{% extends 'base.html.twig' %}

{% block title %}Profil de l'utilisateur
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}

{% block navbar %}
	{% include 'components/_navbar.html.twig'%}
{% endblock %}

{% block body %}
	<h1 class="profil mr-4 my-5 py-5 text-center">
		<span class="title text-primary fw-bold text-uppercase fs-2">Profil</span>
		<span class="text-dark fw-bolder text-uppercase fs-2">de l'utilisateur</span>
	</h1>


	<section class="container-fluid px-5">
		<div class="row mt-5">
			<div class="col text-center d-flex-column d-md-flex justify-content-center align-items-center">
				<img src={{ asset('build/images/profil.png') }} class="img-fluid" alt="Placeholder_candidate">
				<h2 class="title mx-5 text-center text-primary fw-bold text-uppercase fs-2">{{ candidate.user.lastname }}
					<span class="text-secondary">{{ candidate.user.firstname }}</h2>
				</div>
			</div>

			<div class="col mb-5">
				<h3 class="fs-md-6 h2 mt-5 text-nowrap">Informations personnelles
				</h3>
				<h4>Ma date de naissance :
					{{ candidate.birthday|date('d/m/Y') }}</h4>
				<h4>Mon téléphone :
					{{ candidate.phone }}</h4>
				<h4>Mon adresse e-mail :
					{{ candidate.user.email }}</h4>
				<h4>Mon adresse :
					{{ candidate.address }},
					{{ candidate.city }}
				</h4>
				<h3 class="fs-md-6 h2 mt-5">Expériences
					<button class="btn btn-primary">
						<a class="text-light fw-bold text-decoration-none" href="{{ path('app_candidate_add_experience', {'id': candidate.id}) }}">Ajouter une expérience</a>
					</button>
				</h3>
				{% for experience in candidate.experience %}
					<h4>
						<span class="text-primary">{{ experience.jobTitle }}</span>
						-
						<span class="text-secondary">{{ experience.company }}</span>
					</h4>
					<h5 class="h6">Du
						{{ experience.start|date('d/m/Y') }}
						au
						{{ experience.end|date('d/m/Y') }}
						{% include 'experience/_delete_form.html.twig' %}</h5>
				{% endfor %}
				<h3 class="fs-md-6 h2 mt-5">Compétences
					<a class="btn btn-primary text-light fw-bold text-decoration-none" href="{{ path('app_candidate_add_skill', {'id': candidate.id}) }}">Ajouter une compétence</a>
				</h3>
				<ul class="list-group-horizontal d-md-flex justify-content-between">
					{% for skill in candidate.skills %}
						<li class="h6 list-group-item border-0">{{ include('icons/arrow.svg') }}
							{{ skill.name }}{% include 'skill/_delete_form.html.twig' %}
						</li>
					</h5>
				</li>
			{% endfor %}
		</ul>
		<h3 class="fs-md-6 h2 mt-5">Formations
			<a class="btn btn-primary text-light fw-bold text-decoration-none" href="{{ path('app_candidate_add_formation', {'id': candidate.id}) }}">Ajouter une formation</a>
			</a>
		</h3>
		{% for formation in candidate.formations %}
			<h4>
				<span class="text-primary">{{ formation.diploma }}</span>
				-
				<span class="text-secondary">{{ formation.establishment }}</span>
			</h4>
			<h5 class="h6 mb-2">Du
				{{ formation.start|date('d/m/Y') }}
				au
				{{ formation.end|date('d/m/Y') }}
				{% include 'formation/_delete_form.html.twig' %}
			</h5>

		{% endfor %}

	</div>

</section>{% endblock %}{% block footer %}
{% include "components/_footer.html.twig" %}{% endblock %}
