{% extends 'base.html.twig' %}

{% block title %}Profil de l'utilisateur
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}

{% block navbar %}
	{% include 'components/_navbar.html.twig'%}
{% endblock %}

{% block body %}
	<h1 class="profil mr-4 my-5 py-5 text-center">
		<span class="title text-primary fw-bold text-uppercase fs-2">Profil</span>
		<span class="text-dark fw-bolder text-uppercase fs-2">de l'utilisateur</span>
	</h1>


	<section class="container-fluid px-5">
		<div class="row mt-5">
			<div class="col d-flex justify-content-center align-items-center">
				<img src={{ asset('build/images/profil.png') }} class="img-fluid" alt="Placeholder_candidate">
				<h2 class="title mx-5 text-center text-primary fw-bold text-uppercase fs-2">{{ candidate.user.lastname }}
					<span class="text-secondary">{{ candidate.user.firstname }}</h2>
				</div>
			</div>

			<div class="col">
				<h3 class="fs-md-6 mt-5">Informations personnelles <a href="{{ path('app_candidate_edit', {'id': candidate.id}) }}">{% include 'icons/edit.svg' %}</a></h3>
				<h4>Ma date de naissance :
				{{ candidate.birthday|date('d/m/Y') }}</h4>
				<h4>Mon téléphone :
					{{ candidate.phone }}</h4>
				<h4>Mon adresse e-mail :
					{{ candidate.user.email }}</h4>
				<h4>Mon adresse :
					{{ candidate.address }},
					{{ candidate.city }}
				</h4>
				<h3 class="fs-md-6 mt-5">Expériences <a href="{{ path('app_candidate_edit', {'id': candidate.id}) }}">{% include 'icons/edit.svg' %}</a></h3>
				{% for experience in candidate.experience %}
				<h4> {{ experience.jobTitle }} - {{ experience.company }} - {{ experience.start|date('d/m/Y') }} - {{ experience.end|date('d/m/Y') }}</h4>
				{% endfor %}
				<h3 class="fs-md-6 mt-5">Compétences <a href="{{ path('app_candidate_edit', {'id': candidate.id}) }}">{% include 'icons/edit.svg' %}</a></h3>
				{% for skill in candidate.skills %}
				<h4> {{ skill.name }} </h4>
				{% endfor %}
				<h3 class="fs-md-6 mt-5">Formations <a href="{{ path('app_candidate_edit', {'id': candidate.id}) }}">{% include 'icons/edit.svg' %}</a></h3>
				{% for formation in candidate.formations %}
				<h4> {{ formation.diploma }} - {{ formation.establishment }} - {{ formation.start|date('d/m/Y') }} - {{ formation.end|date('d/m/Y') }} </h4>
				{% endfor %}

			</div>

		</section>
	{% endblock %}
