{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('pageCandidate') }}
{% endblock %}

{% block title %}{{ parent() }}
	|| Candidat
{% endblock %}
{% block body %}
	<section class="container">
		<h1 class="fw-bold text-dark text-uppercase my-5">Les cabinets de recrutement se limitent souvent aux CV.<br><span class="text-primary">Pas nous.</span>
		</h1>
		<div class="row g-5 my-5 d-flex justify-content-center">
			<div class="col-lg-5 md-4">
				<div class="statistics border border-5 border-primary border-bottom-0 border-top-0 border-end-0">
					<div class="card-body">

						<div class="m-4">
							<h3 class="fw-bold text-primary">0€</h3>
							<p class="fw-medium fs-6 m-2">C’est le prix que vous coûtera l’accès à nos services et à notre réseau.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5 md-4">
				<div class="statistics border border-5 border-primary border-bottom-0 border-top-0 border-end-0">
					<div class="card-body">
						<div class="m-4">
							<h3 class="fw-bold text-primary">+400</h3>
							<p class="fw-medium fs-6 m-2">Entreprises à vous faire découvrir</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5 md-4">
				<div class="statistics border border-5 border-primary border-bottom-0 border-top-0 border-end-0">
					<div class="card-body">
						<div class="m-4">
							<h3 class="fw-bold text-primary">100%</h3>
							<p class="fw-medium fs-6 m-2">D’offres chez des clients finaux, pas d’ESN</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5 md-4">
				<div class="statistics border border-5 border-primary border-bottom-0 border-top-0 border-end-0">

					<div class="card-body">

						<div class="m-4">
							<h3 class="fw-bold text-primary">1100</h3>
							<p class="fw-medium fs-6 m-2">Watts de puissance dans notre machine à café italienne.<br>Vous venez tester ?</p>
						</div>
					</div>
				</div>
			</div>
		</div>


		<h2 class="fw-bold text-dark text-uppercase my-5">Ce qu’on vous apporte</h2>

		<div class="row my-md-5 my-2 g-0 g-md-4">

			<div class="col-md-5 my-md-5 bg-primary rounded-start p-5">
				<h5 class="text-light text-uppercase fs-3 fw-bold mb-3">On vous donne accès à notre réseau</h5>
				<p class="text-light fs-6">Externatic, c’est 30 consultants qui connaissent la tech et ses acteurs comme personne. Les entreprises nous font confiance et ça booste votre candidature. Faire appel à un cabinet fait passer votre CV sur le haut de la pile ! Faire appel à nous, c’est donc vous ouvrir à un réseau d’entreprises qui ne publient pas forcément leurs offres. Plus de 400 entreprises, de la startup à la DSI en passant par les éditeurs de logiciels, agence web, PME…</p>
			</div>
			<div class="col-md-7 my-md-5 mb-5 ">
				<img src={{ asset('build/images/candidat/acces_reseaux.jpeg') }} class="w-100 h-100 mx-0 border mb-5 rounded-end object-fit-cover">
			</div>

			<div class="col-md-7 my-md-5">
				<img src={{ asset('build/images/candidat/contrat_signer.jpeg') }} class="w-100 h-100 mx-0 border mb-5 rounded-start object-fit-cover">
			</div>
			<div class="col-md-5 my-md-5 mb-5 bg-primary rounded-end p-5">
				<h5 class="text-light text-uppercase fs-3 fw-bold mb-3">On vous trouve un job sur mesure</h5>
				<p class="text-light fs-6">Se limiter au CV, c’est prendre le risque de sélectionner toujours les mêmes profils. Aujourd’hui, notre force est de comprendre votre métier, vos envies et d’élargir vos perspectives. L’accompagnement d’externatic commence toujours par un échange avec vous pour mieux connaître votre parcours et votre projet professionnel. En fonction de vos critères de recherche, nous vous proposerons des offres adaptées (secteur d’activité, stack technique, secteur géographique, prétentions salariales, remote, culture d’entreprise…).
				</p>
			</div>

			<div class="col-md-5 my-md-5 bg-primary rounded-start p-5">
				<h5 class="text-light text-uppercase fs-3 fw-bold mb-3">On vous coach pour décrocher le job de vos rêves</h5>
				<p class="text-light fs-6">Avoir un CV qui se démarque, créer « l’effet waow » en entretien, négocier le salaire que vous méritez. Grâce à notre expérience et à nos conseils, on vous donne toutes les clés pour être LE candidat.	Tout au long du process, nos consultants débriefent vos entretiens et vous font des retours sans langue de bois pour mettre toutes les chances de votre côté.
				</p>
			</div>
			<div class="col-md-7 my-md-5 mb-5">
				<img src={{ asset('build/images/candidat/videoconference.jpeg') }} class="w-100 h-100 mx-0 border mb-5 rounded-end object-fit-cover">
			</div>

			<div class="col-md-7 my-md-5">
				<img src={{ asset('build/images/candidat/psychologue.jpeg') }} class="w-100 h-100 mx-0 border mb-5 rounded-start object-fit-cover">
			</div>
			<div class="col-md-5 my-md-5 mb-5 bg-primary rounded-end p-5">
				<h5 class="text-light text-uppercase fs-3 fw-bold mb-3">On vous accompagne dans la durée</h5>
				<p class="text-light fs-6">Notre accompagnement est sans fin. Il ne s’arrête pas lors de notre rencontre, nous restons en contact avec vous, pour faire un point sur votre situation professionnelle et étudier ensemble de nouveaux challenges à relever dans quelques semaines, ou quelques années.</p>
			</div>
			<div class="col-md-5 my-md-5 bg-primary rounded-start p-5">
				<h5 class="text-light text-uppercase fs-3 fw-bold mb-3">On vous fait gagner du temps</h5>
				<p class="text-light fs-6">Vous en avez marre d’écumer LinkedIn et tous les jobboards à la recherche d’annonces ? Externatic vous propose les meilleures offres qui correspondent à votre profil ! On vous amène dans les coulisses en vous donnant accès aux informations sur l’entreprise et son fonctionnement, en toute transparence.</p>
			</div>
			<div class="col-md-7 my-md-5">
				<img src={{ asset('build/images/candidat/temps_rolex.jpeg') }} class="w-100 h-100 mx-0 border mb-5 rounded-end object-fit-cover">
			</div>


			<h2 class="fw-bold text-dark text-uppercase my-5">En quelques chiffres</h2>
			<div class="row g-5 my-5 d-flex justify-content-center">
				<div class="col-lg-5 md-4">
					<div class="statistics border border-5 border-primary border-bottom-0 border-top-0 border-end-0">
						<div class="card-body">

							<div class="m-4">
								<h3 class="fw-bold text-primary">12</h3>
								<p class="fw-medium fs-6 m-2">Années d’expérience auprès des talents IT</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5 md-4">
					<div class="statistics border border-5 border-primary border-bottom-0 border-top-0 border-end-0">
						<div class="card-body">
							<div class="m-4">
								<h3 class="fw-bold text-primary">2900</h3>
								<p class="fw-medium fs-6 m-2">Candidats tech embauchés depuis 10 ans</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5 md-4">
					<div class="statistics border border-5 border-primary border-bottom-0 border-top-0 border-end-0">
						<div class="card-body">
							<div class="m-4">
								<h3 class="fw-bold text-primary">+700</h3>
								<p class="fw-medium fs-6 m-2">Offres exclusives actuellement en ligne</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5 md-4">
					<div class="statistics border border-5 border-primary border-bottom-0 border-top-0 border-end-0">
						<div class="card-body">
							<div class="m-4">
								<h3 class="fw-bold text-primary">94%</h3>
								<p class="fw-medium fs-6 m-2">De périodes d’essai validées</p>
							</div>
						</div>
					</div>
				</div>
			</div>


			<h2 class="fw-bold fs-1 text-dark text-uppercase mt-5">FAQ
			</h2>
			<div class="d-flex justify-content-center mb-5">
				<div class="row">
					<div class="col-md-8 my-md-5 my-0">
						<div class="accordion mt-5" id="accordionPanelsStayOpenExample">
							<div class="accordion-item bg-transparent">
								<h2 class="accordion-header">
									<button class="accordion-button bg-primary text-light text-decoration-none fs-5 fw-bold text-start" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
										Combien ça coûte ? Est-ce gratuit ?
									</button>
								</h2>
								<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
									<div class=" accordion-body m-4 p-4 bg-transparent border border-dark rounded-2">
										C’est totalement GRATUIT pour le candidat. Notre modèle économique est le suivant : les entreprises paient Externatic uniquement si le candidat présenté par Externatic est recruté.
									</div>
								</div>
							</div>
							<div class="accordion-item bg-transparent">
								<h2 class="accordion-header">
									<button class="accordion-button bg-primary text-light text-decoration-none fs-5 fw-bold text-start" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsstayopen-collapsetwo”">
										Une fois que j’ai postulé, que se passe-t-il ?
									</button>
								</h2>
								<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
									<div class="accordion-body m-4 p-4 bg-transparent border border-dark rounded-2">
										Un de nos consultants va recevoir directement votre candidature pour qu’elle soit étudiée. Si votre profil correspond à un poste ouvert chez nous, nous revenons vers vous dès que possible pour que vous puissiez nous parler de vos expériences et de votre projet professionnel. Si vous n’avez aucune réponse de notre part au-delà de 15 jours, c’est qu’aucun poste ne semble correspondre à votre profil.
										<br>
										<br>
										Mais tout n’est pas perdu !! Il nous arrive souvent de recontacter nos candidats plusieurs semaines après un premier contact.
									</div>
								</div>
							</div>
							<div class="accordion-item bg-transparent">
								<h2 class="accordion-header">
									<button class="accordion-button bg-primary text-light text-decoration-none fs-5 fw-bold text-start" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
										Quelle différence avec une ESN / SSII ?
									</button>
								</h2>
								<div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
									<div class="accordion-body m-4 p-4 bg-transparent border border-dark rounded-2">
										Une ESN propose des missions en assistance technique ou au forfait pour des entreprises. Vous restez salarié de l’ESN.
										<br>
										<br>

										Chez Externatic, nous sommes un cabinet de recrutement et nous ne proposons que des postes en CDI directement chez des startup / éditeur de logiciel / DSI / etc. Pas en ESN. Ainsi, vous serez salarié de l’entreprise accompagnée et non d’Externatic.
									</div>
								</div>
							</div>
							<div class="accordion-item bg-transparent">
								<h2 class="accordion-header">
									<button class="accordion-button bg-primary text-light text-decoration-none fs-5 fw-bold text-start" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
										Comment se déroule un RDV avec un consultant ?
									</button>
								</h2>
								<div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
									<div class="accordion-body m-4 p-4 bg-transparent border border-dark rounded-2">
										L’entretien se passe en visio ou de visu dans nos locaux ou ailleurs (nos consultants peuvent se déplacer assez facilement pour faciliter la prise de rdv). Au cours de l’échange, nos consultants se présentent à vous, et vous leur parlez de votre parcours et surtout de vos aspirations professionnelles. Les consultants sont là pour vous aider et vous accompagner dans votre démarche de recherche d’emploi : ils sont là pour vous présenter les jobs qui répondent le mieux à vos critères de recherche.
									</div>
								</div>
							</div>
							<div class="accordion-item bg-transparent">
								<h2 class="accordion-header">
									<button class="accordion-button bg-primary text-light text-decoration-none fs-5 fw-bold text-start" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
										Comment êtes-vous impliqué dans votre écosystème ?
									</button>
								</h2>
								<div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
									<div class="accordion-body m-4 p-4 bg-transparent border border-dark rounded-2">
										Chez Externatic, l’implication dans le réseau tech, c’est primordial. Nous sponsorisons chaque année de nombreux meetups, associations et événements
										<ul>
											<li>Devfest Nantes</li>
											<li>Bdx.io</li>
											<li>Nuit des meetups</li>
											<li>Aquinum</li>
											<li>La Cantine</li>
											<li>ADN Ouest</li>
											<li>Meet Your Startup Nantes</li>
											<li>Meet Your Startup Bordeaux</li>
											<li>Meet Your Startup Rennes</li>
											<li>PHPTour Nantes</li>
											<li>NantesJS</li>
											<li>AFUP</li>
											<li>Nantes React</li>
											<li>Scala User Group Nantes</li>
											<li>JUG Nantes</li>
											<li>CocoaHeads Nantes</li>
											<li>Nantes Digital Week</li>
											<li>…</li>
										</ul>
										<br>Vous recherchez un sponsor pour votre événement ? N’hésitez pas à nous solliciter ici.
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-12">
						<img src={{ asset("build/images/FAQ.jpg") }} class="d-md-flex d-none justify-content-center w-100 mx-5">
					</div>
				</div>
			</div>
		</section>
	{% endblock %}
	{% block footer %}
		{% include "components/_footer.html.twig" %}
	{% endblock %}
